In [12]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from collections import Counter

In [13]:
data = pd.read_csv("../MDS_Assignment3 Mining Process/MiningProcess_Flotation_Plant_Database.csv", decimal=',')
# data = data.replace(",", ".", regex=True) 
data = data.drop(data.index[list(range(442471+122000,442471+134500))])
data = data.reset_index(drop=True)
display(data.head(3))

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31

In [14]:
def reduce(data, ticks=5, proportion=0.3):
    print('original data.shape:', data.shape)
    data = data[0:len(data):ticks] # ticks
    data =data.reset_index(drop=True)
    print('after apply ticks data.shape:', data.shape)
    data = data[0:int(len(data)*proportion)] # proportion
    data =data.reset_index(drop=True)
    print('after apply proportion data.shape:', data.shape)
    try:
        start = data.loc[0, 'date']
        end = data.loc[len(data)-1, 'date']
        print(f'Datetime interval: {start} ~ {end}')
    except:
        pass
    return data

### 1) no ticks

In [15]:
# data = reduce(data, ticks=12, proportion=1)
# data = data.iloc[:, 1:-1].astype(float) # params

In [16]:
# train : validation : test = 3 : 1 : 1 = 60% : 20% : 20%
import numpy as np 
len_ = len(data)
start_index = 0
train_index = int(.60 *len_)
val_index = int(.80 *len_)
test_index = len_
# data
train = data.loc[start_index:train_index]
val = data.loc[train_index:val_index]
test = data.loc[val_index:test_index]

print('train:', train.shape,
    '\nval:  ', val.shape, 
    '\ntest: ', test.shape)

# save
foldername = 'reduceddata-keep2y'
train.to_csv(f"{foldername}/train.csv", index=False)
val.to_csv(f"{foldername}/val.csv", index=False)
test.to_csv(f"{foldername}/test.csv", index=False)
# np.savetxt(f"{foldername}/x_train.csv", x_train, delimiter=",")
# np.savetxt(f"{foldername}/x_val.csv", x_val, delimiter=",")
# np.savetxt(f"{foldername}/x_test.csv", x_test, delimiter=",")
# np.savetxt(f"{foldername}/y_train.csv", y_train, delimiter=",")
# np.savetxt(f"{foldername}/y_val.csv", y_val, delimiter=",")
# np.savetxt(f"{foldername}/y_test.csv", y_test, delimiter=",")

train: (434972, 24)
val:   (144992, 24)
test:  (144991, 24)

### 2) With ticks=12

In [17]:
data = pd.read_csv("../MDS_Assignment3 Mining Process/MiningProcess_Flotation_Plant_Database.csv", decimal=',')
data = data.drop(data.index[list(range(442471+122000,442471+134500))])
data = data.reset_index(drop=True)

data = reduce(data, ticks=12, proportion=1)
display(data.head(3))

original data.shape: (724953, 24)
after apply ticks data.shape: (60413, 24)
after apply proportion data.shape: (60413, 24)
Datetime interval: 2017-03-10 01:00:00 ~ 2017-09-09 23:00:00

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3280.27,564.026,393.545,10.0763,1.74,249.016,249.829,...,251.147,457.947,425.372,453.818,453.942,459.629,443.738,460.608,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3514.65,565.613,400.986,10.0862,1.74,249.280,252.971,...,251.543,450.690,492.148,458.458,458.714,419.473,463.618,415.585,66.91,1.31

In [18]:
len_ = len(data)
start_index = 0
train_index = int(.60 *len_)
val_index = int(.80 *len_)
test_index = len_
# data
train = data.loc[start_index:train_index]
val = data.loc[train_index:val_index]
test = data.loc[val_index:test_index]

print('train:', train.shape,
    '\nval:  ', val.shape, 
    '\ntest: ', test.shape)

# save
foldername = 'reduceddata-keep2y-ticks-12'
train.to_csv(f"{foldername}/train.csv", index=False)
val.to_csv(f"{foldername}/val.csv", index=False)
test.to_csv(f"{foldername}/test.csv", index=False)

train: (36248, 24)
val:   (12084, 24)
test:  (12083, 24)