In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from collections import Counter

data = pd.read_csv("../MDS_Assignment3 Mining Process/MiningProcess_Flotation_Plant_Database.csv", decimal=',')
data = data.drop(data.index[list(range(442471+122000,442471+134500))])
data = data.reset_index(drop=True)
display(data.head(3))

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31

In [2]:
time = data.iloc[:,0]
data = data.iloc[:,1:]

In [3]:
from sklearn.preprocessing import KBinsDiscretizer

est = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='quantile')
est.fit(data)
data_trans = est.transform(data)

c:\Users\luweb\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_discretization.py:209: FutureWarning: In version 1.3 onwards, subsample=2e5 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(
c:\Users\luweb\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
c:\Users\luweb\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 1 are removed. Consider decreasing the number of bins.
  warnings.warn(

In [4]:
# data_trans = data_trans.astype(int)
data_trans.shape

(724953, 23)

In [5]:
def select_record(seq, wanted):
    # print(seq, wanted)
    for i, val in enumerate(wanted):
        if val == seq[i]:
            continue
        else:
            return False
    return True

select_record([1,1,1], [1,1,1])

True

In [6]:
target_x = [5] * 22
y_vals = {}
not_unique_count = 0

for i, record in enumerate(data_trans):
    x = record[:-1]
    y = record[-1]
    if tuple(x) in y_vals.keys():
        y_vals[tuple(x)].append(y)
        not_unique_count += 1
    else:
        y_vals[tuple(x)] = []
        y_vals[tuple(x)].append(y)
    # y_vals[tuple(x)] = y
    # if select_record(x, target_x):
    #     y_vals.append(y)
    # break

# Counter(y_vals)

In [20]:
not_unique_count

18950

In [21]:
len(y_vals.keys())

706003

In [7]:
values = y_vals.values()
values_len_arr = []
max_len = 0
for v in values:
    len_v = len(v)
    values_len_arr.append(len_v)
    if max_len < len_v:
        max_len = len_v
max_len

309

In [8]:
print('len', len(values_len_arr))
print('mean', np.mean(values_len_arr))
print('max', np.max(values_len_arr))
print('median', np.median(values_len_arr))
counts = np.bincount(values_len_arr)
print('most', np.argmax(counts))

len 706003
mean 1.0268412457170861
max 309
median 1.0
most 1

In [33]:
# 重複的 y 數值
sorted(values_len_arr)[-15:]

[123, 124, 128, 129, 135, 139, 180, 180, 180, 180, 185, 201, 267, 272, 309]

In [41]:
# 只有 300 組 x 數值有重複 10 組的 y
sorted(values_len_arr)[-300]

10

In [14]:
sorted_values_len = sorted(values_len_arr)
for i,cnt in enumerate(sorted_values_len):
    if cnt != 1:
        break
print(f'有 {i} 種 x 組合，他們的 y 值都不重複，佔了 {i/len(sorted_values_len)*100} % 的組合，佔了 {i/len(data_trans)*100} % 的樣本個數')

有 699777 種 x 組合，他們的 y 值都不重複，佔了 99.11813405892043 % 的組合，佔了 96.52722314412107 % 的樣本個數

In [22]:
for i in y_vals.items():
    print(i)
    break

((4.0, 5.0, 4.0, 7.0, 2.0, 7.0, 8.0, 0.0, 3.0, 2.0, 1.0, 9.0, 1.0, 1.0, 4.0, 2.0, 2.0, 6.0, 8.0, 5.0, 8.0, 9.0), [1.0])

In [17]:
y_vals[(8.0,
  1.0,
  9.0,
  9.0,
  9.0,
  9.0,
  9.0,
  8.0,
  8.0,
  3.0,
  8.0,
  8.0,
  6.0,
  7.0,
  1.0,
  0.0,
  0.0,
  5.0,
  4.0,
  3.0,
  3.0,
  6.0)]

[4.0]